.home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg,#000 0,transparent), url('../images/femme2.jpeg');
    background-position: center;
    background-position-y: 10%;
    background-size: cover;
    background-repeat: no-repeat;

    .home-container {
        display: flex;
        align-items: flex-end;
        justify-content: start;
        text-align: start;
        width: 100%;
        height: 100vh;
        padding: 60px 5%;

        .home-content {
            h1 {
                text-transform: uppercase;
                font-size: 40px;
                color: var(--light);
                font-weight: 500;
                font-style: italic;
            }
    
            p {
                color: var(--light);
                font-size: 15px;
                padding-top: 20px;
                font-weight: 300;
    
                a {
                    color: var(--light);
                    text-decoration: underline;
                    font-weight: 300;
                }
            }
    
            .home-btn1 {
                margin-right: 5px;
                margin-top: 30px;
                font-size: 15px;
                display: inline-block;
                text-transform: uppercase;
                background-color: var(--light);
                color: var(--dark);
                padding: 15px 50px;
                transition: all 400ms;
    
                &:hover {
                    background-color: rgb(198, 198, 198);
                }
            }

            .home-btn2 {
                font-size: 15px;
                margin-left: 5px;
                margin-top: 30px;
                display: inline-block;
                text-transform: uppercase;
                background-color: var(--light);
                color: var(--dark);
                padding: 15px 50px;
                transition: all 400ms;
    
                &:hover {
                    background-color: rgb(198, 198, 198);
                }
            }
            
        }
    }

    @media screen and (max-width: 850px) {

        .home-container {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            text-align: center;
            width: 100%;
            height: 100vh;
            padding: 60px 5%;

            .home-content {
                h1 {
                    // font-size: 70px;
                    color: var(--light);
                    // font-style: italic;
                }
            }
        }
    }
}

.peoples {
    width: 100%;

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .woman-container {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        text-align: start;
        width: 100%;
        height: 80vh;
        background-image: linear-gradient(0deg,#000 0,transparent), url('../images/woman.jpeg');
        background-position: center;
        background-size: cover;
        padding: 0 2%;
        background-repeat: no-repeat;

        .woman-content {
            padding: 30px;

            h1 {
                font-size: 40px;
                color: white;
                font-weight: 500;
            }

            a {
                margin-top: 20px;
                display: inline-block;
                color: black;
                background-color: white;
                padding: 15px 50px;
                transition: all 400ms;

                &:hover {
                    background-color: rgb(198, 198, 198);
                }
            }
        }
    }

    .man-container {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        text-align: end;
        width: 100%;
        height: 80vh;
        background-image: linear-gradient(0deg,#000 0,transparent), url('../images/man.jpeg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0 2%;

        .man-content {
            padding: 30px;
        
            h1 {
                font-size: 40px;
                color: white;
                font-weight: 500;
            }
        
            a {
                margin-top: 20px;
                display: inline-block;
                color: black;
                background-color: white;
                padding: 15px 50px;
                transition: all 400ms;
        
                &:hover {
                    background-color: rgb(198, 198, 198);
                }
            }
        }
    }

    @media screen and (max-width: 500px) {
        .woman-container {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            text-align: start;
            width: 100%;
            height: 80vh;
            background-image: linear-gradient(0deg,#000 0,transparent), url('../images/woman.jpeg');
            background-position: center;
            background-size: cover;
            padding: 0 2%;
            background-repeat: no-repeat;
    
            .woman-content {
                padding: 30px;
    
                h1 {
                    font-size: 30px;
                    color: white;
                    font-weight: 500;
                }
    
                a {
                    margin-top: 20px;
                    display: inline-block;
                    color: black;
                    font-size: 14px;
                    background-color: white;
                    padding: 15px 40px;
                    transition: all 400ms;
    
                    &:hover {
                        background-color: rgb(198, 198, 198);
                    }
                }
            }
        }

        .man-container {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            text-align: end;
            width: 100%;
            height: 80vh;
            background-image: linear-gradient(0deg,#000 0,transparent), url('../images/man.jpeg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 0 2%;
    
            .man-content {
                padding: 30px;
            
                h1 {
                    font-size: 30px;
                    color: white;
                    font-weight: 500;
                }
            
                a {
                    margin-top: 20px;
                    display: inline-block;
                    color: black;
                    font-size: 14px;
                    background-color: white;
                    padding: 15px 40px;
                    transition: all 400ms;
            
                    &:hover {
                        background-color: rgb(198, 198, 198);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 850px) {
        .cards {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.kids {
    position: relative;
    width: 100%;
    padding-top: -10px;

    .kid-container {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        text-align: start;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(180deg,#000 0,transparent), url('../images/kid.jpeg');
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0 2%;

        .kid-content {
            padding: 30px;

            h1 {
                font-size: 40px;
                color: white;
                font-weight: 500;
            }

            a {
                margin-top: 20px;
                display: inline-block;
                color: black;
                background-color: white;
                padding: 15px 50px;
                transition: all 400ms;

                &:hover {
                    background-color: rgb(198, 198, 198);
                }
            }
        }
    }

    @media screen and (max-width: 500px) {
        .kid-container {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            text-align: start;
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(0deg,#000 0,transparent), url('../images/kid.jpeg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 0 2%;
    
            .kid-content {
                padding: 30px;
    
                h1 {
                    font-size: 30px;
                    color: white;
                    font-weight: 500;
                }
    
                a {
                    margin-top: 20px;
                    display: inline-block;
                    color: black;
                    font-size: 14px;
                    background-color: white;
                    padding: 15px 40px;
                    transition: all 400ms;
    
                    &:hover {
                        background-color: rgb(198, 198, 198);
                    }
                }
            }
        }
    }
}



.services {
    width: 100%;

    .services-title {
        margin-top: 100px;
        text-align: center;
        padding: 0 3%;

        h1 {
            font-style: italic;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 28px;
            font-weight: 600;
        }
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 50px 3%;


        .services-case-1 {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-flow: column;
            text-align: start;
            width: 100%;
            height: 65vh;

            .imgbox-1 {
                width: 100%;
                height: 100%;
                background-image: url('../images/case1.jpeg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            
            h1 {
                font-style: italic;
                padding-top: 20px;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 21px;
                font-weight: 600;
            }

            p {
                color: rgb(0, 98, 255);
                padding-top: 5px;
                font-weight: 300;
                padding-bottom: 20px;
            }

            a {
                display: inline-block;
                font-size: 16px;
                border-bottom: 1px black solid;
                margin-bottom: 20px;
            }

        }

        .services-case-2 {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-flow: column;
            text-align: start;
            width: 100%;
            height: 65vh;

            .imgbox-2 {
                width: 100%;
                height: 100%;
                background-image: url('../images/case2.jpeg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            h1 {
                font-style: italic;
                padding-top: 20px;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 21px;
                font-weight: 600;
            }

            p {
                color: rgb(0, 98, 255);
                padding-top: 5px;
                font-weight: 300;
                padding-bottom: 20px;

                .retours {
                    color: black;
                    font-size: 17px;
                    display: inline;
                }
            }

            a {
                margin-bottom: 20px;
                display: inline-block;
                font-size: 16px;
                border-bottom: 1px black solid;
            }
        }
    }

    @media screen and (max-width: 900px) {
        .cards {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding: 50px 5%;
        }
        
        .services-title {
            padding-top: 100px;
            text-align: start;
            padding: 0 5%;
    
            h1 {
                font-style: italic;
                padding-top: 20px;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 28px;
                font-weight: 600;
            }
        }
    }
}

.contacts {
    height: 100vh;
    width: 100%;
    background-color: white;

    .contacts-title {
        margin-top: 100px;
        text-align: center;
        padding: 0 3%;

        h1 {
            font-style: italic;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 28px;
            font-weight: 600;
        }

        p {
            padding-top: 20px;
        }
    }
}