.home {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/background-home1.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/background-home1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home .home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: start;
  width: 100%;
  height: 100vh;
  padding: 60px 5%;
}

.home .home-container .home-content h1 {
  font-size: 80px;
  color: var(--light);
  font-style: italic;
  font-family: 'Tiro Devanagari Marathi', serif;
}

.home .home-container .home-content p {
  color: var(--light);
  padding-top: 20px;
  font-weight: 300;
}

.home .home-container .home-content p a {
  color: var(--light);
  text-decoration: underline;
  font-weight: 300;
}

.home .home-container .home-content .home-btn {
  margin-top: 40px;
  display: inline-block;
  background-color: var(--light);
  color: var(--dark);
  padding: 15px 50px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.home .home-container .home-content .home-btn:hover {
  background-color: #c6c6c6;
}

@media screen and (max-width: 850px) {
  .home .home-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 60px 5%;
  }
  .home .home-container .home-content h1 {
    font-size: 70px;
    color: var(--light);
    font-style: italic;
    font-family: 'Tiro Devanagari Marathi', serif;
  }
}

.peoples {
  width: 100%;
}

.peoples .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.peoples .woman-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000), to(transparent)), url("../images/woman.jpeg");
  background-image: linear-gradient(0deg, #000 0, transparent), url("../images/woman.jpeg");
  background-position: center;
  background-size: cover;
  padding: 0 2%;
  background-repeat: no-repeat;
}

.peoples .woman-container .woman-content {
  padding: 30px;
}

.peoples .woman-container .woman-content h1 {
  font-size: 40px;
  color: white;
  font-weight: 500;
}

.peoples .woman-container .woman-content a {
  margin-top: 20px;
  display: inline-block;
  color: black;
  background-color: white;
  padding: 15px 50px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.peoples .woman-container .woman-content a:hover {
  background-color: #c6c6c6;
}

.peoples .man-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000), to(transparent)), url("../images/man.jpeg");
  background-image: linear-gradient(0deg, #000 0, transparent), url("../images/man.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 2%;
}

.peoples .man-container .man-content {
  padding: 30px;
}

.peoples .man-container .man-content h1 {
  font-size: 40px;
  color: white;
  font-weight: 500;
}

.peoples .man-container .man-content a {
  margin-top: 20px;
  display: inline-block;
  color: black;
  background-color: white;
  padding: 15px 50px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.peoples .man-container .man-content a:hover {
  background-color: #c6c6c6;
}

@media screen and (max-width: 500px) {
  .peoples .woman-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
    width: 100%;
    height: 100vh;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000), to(transparent)), url("../images/woman.jpeg");
    background-image: linear-gradient(0deg, #000 0, transparent), url("../images/woman.jpeg");
    background-position: center;
    background-size: cover;
    padding: 0 2%;
    background-repeat: no-repeat;
  }
  .peoples .woman-container .woman-content {
    padding: 30px;
  }
  .peoples .woman-container .woman-content h1 {
    font-size: 30px;
    color: white;
    font-weight: 500;
  }
  .peoples .woman-container .woman-content a {
    margin-top: 20px;
    display: inline-block;
    color: black;
    font-size: 14px;
    background-color: white;
    padding: 15px 40px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  .peoples .woman-container .woman-content a:hover {
    background-color: #c6c6c6;
  }
  .peoples .man-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
    width: 100%;
    height: 100vh;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000), to(transparent)), url("../images/man.jpeg");
    background-image: linear-gradient(0deg, #000 0, transparent), url("../images/man.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 2%;
  }
  .peoples .man-container .man-content {
    padding: 30px;
  }
  .peoples .man-container .man-content h1 {
    font-size: 30px;
    color: white;
    font-weight: 500;
  }
  .peoples .man-container .man-content a {
    margin-top: 20px;
    display: inline-block;
    color: black;
    font-size: 14px;
    background-color: white;
    padding: 15px 40px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  .peoples .man-container .man-content a:hover {
    background-color: #c6c6c6;
  }
}

@media screen and (max-width: 850px) {
  .peoples .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.kids {
  position: relative;
  width: 100%;
  padding-top: -10px;
}

.kids .kid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000), to(transparent)), url("../images/kid.jpeg");
  background-image: linear-gradient(0deg, #000 0, transparent), url("../images/kid.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 2%;
}

.kids .kid-container .kid-content {
  padding: 30px;
}

.kids .kid-container .kid-content h1 {
  font-size: 40px;
  color: white;
  font-weight: 500;
}

.kids .kid-container .kid-content a {
  margin-top: 20px;
  display: inline-block;
  color: black;
  background-color: white;
  padding: 15px 50px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.kids .kid-container .kid-content a:hover {
  background-color: #c6c6c6;
}

@media screen and (max-width: 500px) {
  .kids .kid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
    width: 100%;
    height: 100vh;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000), to(transparent)), url("../images/kid.jpeg");
    background-image: linear-gradient(0deg, #000 0, transparent), url("../images/kid.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 2%;
  }
  .kids .kid-container .kid-content {
    padding: 30px;
  }
  .kids .kid-container .kid-content h1 {
    font-size: 30px;
    color: white;
    font-weight: 500;
  }
  .kids .kid-container .kid-content a {
    margin-top: 20px;
    display: inline-block;
    color: black;
    font-size: 14px;
    background-color: white;
    padding: 15px 40px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  .kids .kid-container .kid-content a:hover {
    background-color: #c6c6c6;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 70px;
  width: 100%;
  background-color: black;
}

.services .services-container {
  width: 100%;
}

.services .services-container .services-title h1 {
  color: white;
  padding-bottom: 60px;
}

.services .services-container .services-content i {
  font-size: 80px;
  color: white;
  padding: 0 30px;
}

.services .services-container .services-content p {
  color: white;
}

.rdv {
  width: 100%;
}

.rdv .rdv-title {
  margin-top: 100px;
  text-align: center;
  padding: 0 3%;
}

.rdv .rdv-title h1 {
  font-style: italic;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}

.rdv .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 50px 3%;
}

.rdv .cards .rdv-case-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: start;
  width: 100%;
  height: 65vh;
}

.rdv .cards .rdv-case-1 .imgbox-1 {
  width: 100%;
  height: 100%;
  background-image: url("../images/case1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.rdv .cards .rdv-case-1 h1 {
  font-style: italic;
  padding-top: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
}

.rdv .cards .rdv-case-1 p {
  color: #0062ff;
  padding-top: 5px;
  font-weight: 300;
  padding-bottom: 20px;
}

.rdv .cards .rdv-case-1 a {
  display: inline-block;
  font-size: 16px;
  border-bottom: 1px black solid;
  margin-bottom: 20px;
}

.rdv .cards .rdv-case-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: start;
  width: 100%;
  height: 65vh;
}

.rdv .cards .rdv-case-2 .imgbox-2 {
  width: 100%;
  height: 100%;
  background-image: url("../images/case2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.rdv .cards .rdv-case-2 h1 {
  font-style: italic;
  padding-top: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
}

.rdv .cards .rdv-case-2 p {
  color: #0062ff;
  padding-top: 5px;
  font-weight: 300;
  padding-bottom: 20px;
}

.rdv .cards .rdv-case-2 p .retours {
  color: black;
  font-size: 17px;
  display: inline;
}

.rdv .cards .rdv-case-2 a {
  margin-bottom: 20px;
  display: inline-block;
  font-size: 16px;
  border-bottom: 1px black solid;
}

@media screen and (max-width: 900px) {
  .rdv .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding: 50px 5%;
  }
  .rdv .rdv-title {
    padding-top: 100px;
    text-align: start;
    padding: 0 5%;
  }
  .rdv .rdv-title h1 {
    font-style: italic;
    padding-top: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: black;
  height: 20vh;
  width: 100%;
  padding: 0 5%;
}

footer h1 {
  color: white;
  font-weight: 800;
  font-style: italic;
}

footer p {
  padding-top: 20px;
  color: white;
  font-size: 16px;
}

footer p a {
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  footer footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    background-color: black;
    height: 20vh;
    width: 100%;
    padding: 0 5%;
  }
  footer footer h1 {
    color: white;
    font-weight: 800;
    font-size: 20px;
    font-style: italic;
  }
  footer footer p {
    padding-top: 20px;
    color: white;
    font-size: 16px;
  }
  footer footer p a {
    color: white;
    text-decoration: underline;
  }
}
/*# sourceMappingURL=home.css.map */